@import-normalize;

html {font-size: 62.5%}
body {
	margin: 0;
	font-family: Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #202939;
	text-align: left;
	background-color: #FFF;
}
nav {
	border-bottom: .5rem solid #FF6d00;
	padding: 1.5em;
	height: 4rem;
	box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	.branding {
		display: flex;
		.brand-logo {
			margin-right: 2rem;
			color: transparent;
		}
		.brand-name {
			font-size: 2rem;
			line-height: 4rem;
			@media (min-width: 768px) {
				font-size: 4rem;
			}
		}
	}
	.loader-button {
		align-self: flex-end;
		cursor: pointer;
		border: none;
		padding: .5rem;
		background: #FFF;
		box-shadow:
			0 .3rem .5rem -0.1rem rgba(0,0,0,.2),
			0 .6rem .10rem 0 rgba(0,0,0,.14),
			0 .1rem .18rem 0 rgba(0,0,0,.12);
		border-radius: 4rem;
		&.active svg {
			animation:rotation .5s linear;
		}
		&:hover, &:focus {
			box-shadow:
					0 .7rem .8rem -0.4rem rgba(0,0,0,.2),
					0 .12rem .17rem .2rem rgba(0,0,0,.14),
					0 .5rem .22rem .4rem rgba(0,0,0,.12)
		}
	}

	@keyframes rotation {
		from {
			transform: rotate(359deg);
		}
		to {
			transform: rotate(0deg);
		}
	}
}